@model hringr.Models.Follow

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<span class="pull-right">
    <a href="../"> <img src="../../images/bird2.png" width="60" height="60" class="pull-left" /></a>
</span>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Follow</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.followerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.followerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.followeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.followeeID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
