@model IEnumerable<hringr.Models.Follow>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<span class="pull-right">
    <a href="../"> <img src="../../images/bird2.png" width="60" height="60" class="pull-left" /></a>
</span>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.followerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.followeeID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.followerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.followeeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
