@using hringr.Models
@model List<Post>

<span class="pull-right">
    <a href="../"> <img src="../../images/bird2.png" width="60" height="60" class="pull-left" /></a>
</span>

@foreach (var item in Model)
{
    <div class="well">
        
        <h3>
            @Html.ActionLink(item.title, "Details", "Posts", new {id = item.ID}, null) <small class="pull-right">@Html.DisplayFor(modelItem => item.date) </small>
        </h3>
        <p>
            @Html.DisplayFor(modelItem => item.text)
        </p>
        <p>
            <a class="like-comment pull-right btn btn-primary btn-xs" data-template-bind='{"attribute": "id", "value": "ID"}' onclick='AddDislike(id); return false' href="#">
                <span class="glyphicon glyphicon-thumbs-down"> </span> Dislike
            </a>

            <a class="like-comment pull-right btn btn-primary btn-xs space" data-template-bind='{"attribute": "id", "value": "ID"}' onclick='AddLike(id); return false' href="#">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
            </a>


            @Html.ActionLink("Comment", "Create", "Comments", new {id = item.ID}, null) |
            @Html.ActionLink("Edit", "Edit", "Posts", new {id = item.ID}, null) |
            @Html.ActionLink("Delete", "Delete", "Posts", new {id = item.ID}, null)
        </p>
    </div>
}
