@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@model IEnumerable<hringr.Models.Group>

@{
    ViewBag.Title = "Index";
}
<h2>Groups</h2>
<span class="pull-right">
    <a href="../"> <img src="../../images/ugla2.png" width="60" height="60" class="pull-left" /></a>
</span>
    <div>
        <p>
            @Html.ActionLink("Create a new group", "Create")
        </p>
        @foreach (var item in Model)
        {
            <div class="well">
                <h3>
                    @Html.ActionLink(item.name, "Details", new { id = item.ID })
                </h3>
                <div class="pull-right">
                    @if (!item.member.Any(x => x.userID == User.Identity.GetUserId() && item.ID ==x.groupID))
                    {
                        @Html.ActionLink("Join", "AddMemberToGroup", new { id = item.ID })
                    }
                </div>
                
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </p>
            </div>
        }
    </div>

