@model IEnumerable<hringr.Models.Group>

@{
    ViewBag.Title = "Index";
}
<h2>Groups</h2>
<span class="pull-right">
    <a href="../"> <img src="../../images/ugla2.png" width="60" height="60" class="pull-left" /></a>
</span>
    <div>
        <p>
            @Html.ActionLink("Create a new group", "Create")
        </p>
        @foreach (var item in Model)
        {
            <div class="well">
                <h3>
                    @using (Html.BeginForm()) {
                        @Html.AntiForgeryToken()
                        @Html.ActionLink(item.name, "Details", new { id = item.ID }) <small class=" pull-right"><input type="submit" value="Join" class="btn btn-default" /></small>
                    }
                </h3>
                <p>
                    @Html.DisplayFor(modelItem => item.member)
                </p>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </p>
            </div>
        }
    </div>

