@model IEnumerable<hringr.Models.Group>

@{
    ViewBag.Title = "Index";
}
<h2>Groups</h2>
    <div>
        <p>
            @Html.ActionLink("Create a new group", "Create")
        </p>
        @foreach (var item in Model)
        {
            <div class="well">
                <h3>
                    @Html.ActionLink(item.name, "Details", new { id = item.ID })
                </h3>
                <p>
                    @Html.DisplayFor(modelItem => item.member)
                </p>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </p>
            </div>
        }
    </div>

