@using hringr.Models
@model IEnumerable<Post>

@foreach (var item in Model)
{
    <div class="well">
        
        <h3>
            @Html.ActionLink(item.title, "Details", "Posts", new {id = item.ID}, null) <small class="pull-right">@Html.DisplayFor(modelItem => item.date) </small>
        </h3>
        <p>
            <label>Category:</label>
            @Html.DisplayFor(modelItem => item.category.name)
            <small class="pull-right">by @Html.ActionLink(item.user.UserName, "Details", "User", new { u = item.user.UserName }, null)</small>
        </p>
        <p>
            <a class="like-comment pull-right btn btn-default btn-xs" data-template-bind='{"attribute": "id", "value": "ID"}' onclick='AddDislike(id); return false' href="#">
                <span class="glyphicon glyphicon-thumbs-down"> </span> Dislike
            </a>

            <a class="like-comment pull-right btn btn-default btn-xs space" data-template-bind='{"attribute": "id", "value": "ID"}' onclick='AddLike(id); return false' href="#">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
            </a>


            @Html.ActionLink("Edit", "Edit", "Posts", new {id = item.ID}, null) |
            @Html.ActionLink("Delete", "Delete", "Posts", new {id = item.ID}, null)
        </p>
    </div>
}
