@model hringr.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<span class="pull-right">
    <a href="../"> <img src="../../images/bird2.png" width="60" height="60" class="pull-left" /></a>
</span>
<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.postID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
