@model hringr.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>
    @Html.DisplayFor(model => model.title)
    <span class="pull-right">
        <a href="../"> <img src="../../images/bird2.png" width="60" height="60" class="pull-left" /></a>
    </span>
</h2>

<div class="well">
    <span class="pull-right">
        @Html.HiddenFor(model => model.ID)
        @Html.DisplayFor(model => model.date)
    </span>
    <h4>@Html.DisplayFor(model => model.text)</h4>
    <!--<hr/>-->
    <br/>
    <dl class="right">
        <dd>
            @Html.LabelFor(model => model.link, "Link:")
            <a href="@Model.link">@Model.link</a>
        </dd>

        <dd>
            @Html.LabelFor(model => model.category, "Category:")
            @Html.DisplayFor(model => model.category.name)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
