@model hringr.Models.Post

@{
    ViewBag.Title = "Details";
}
<div class="well">
    <h2>
        @Html.DisplayFor(model => model.title)

        <span class="pull-right">
            <a href="../"> <img src="../../images/ugla2.png" width="60" height="60" alt="Owl" /></a>
        </span>
        <small class="pull-right">@Html.DisplayFor(model => model.date)</small>
    </h2>
    <p>by @Html.ActionLink(Model.user.UserName, "Details", "User", new { u = Model.user.UserName }, null)</p>

    <p>
        @Html.HiddenFor(model => model.ID)
    <small class="pull-right">by @Html.ActionLink(Model.user.UserName, "Details", "User", new { u = Model.user.UserName }, null)</small>
    <p>
        <br />
        @Html.DisplayFor(model => model.text)
    </p>

    <dl class="right">
        <dd>
            @Html.LabelFor(model => model.link, "Link:")
            <a href="@Model.link">@Model.link</a>
        </dd>
        <dd>
            @Html.LabelFor(model => model.category, "Category:")
            @Html.DisplayFor(model => model.category.name)
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
    </p>
</div>
