@using System.Activities.Expressions
@model hringr.Models.UserViewModels

@{
    ViewBag.Title = "User Details";
}

<h2>@Model.user.UserName</h2>

@if (@Model.user.UserName != User.Identity.Name)
{
    <p>
        @if (Model.follows != null && Model.follows.deleted.Equals(false))
        {
            @Html.ActionLink("Unfollow", "Unfollow", new {u = Model.user.UserName})

        }
        else
        {
            @Html.ActionLink("Follow", "Follow", new {u = Model.user.UserName})
        }
    </p>
}

<h3>Posts</h3>
@Html.Partial("_Posts", @Model.posts)
