@using hringr.Models
@model LoginViewModel
@{
    Layout = null;
}
@{
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hringr</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="login-body">
<div class="container body-content">
    <div class="jumbotron">
        <h1>HRIN.GR</h1>
        <h2>@ViewBag.Title.</h2>
      
            <p>Hrin.gr is a social network where you can post links that you find interesting.</p>
       
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()        
                <hr/>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.User, new { @class = "pull-left col-md-3 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.User, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.User, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        <p class="bold-text">
                            Don´t have an account?
                        </p>
                        </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new {@class = "pull-left col-md-3 control-label"})
                    <div class="col-md-5">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-md-4">
                        @Html.ActionLink("Register as a new user", "Register", "Account", new { @class = "btn btn-success", @id = "registerLink" })
                 </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                            <input type="submit" value="Log in" class="space-left btn btn-primary btn-sm" />
                    </div>
                </div>
                
                </div>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
            }
        </section>
    </div>
    <footer>
        <ul class="list-inline" id="link-white">
            <li>@Html.ActionLink("About", "About", "Home", new { @style = "color:white;" })</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home", new { @style = "color:white;" })</li>
        </ul>
        <p class="while-text">&copy; @DateTime.Now.Year - HRIN.GR</p>
    </footer>
</div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
